<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Cadastro de livro</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="errors">
        <% if(errosValidacao) {%>
            <ul>
                <% for(var i=0; i<errosValidacao.length;i++) {%>
                    <li>
                        <%= errosValidacao[i].param %> -
                            <%= errosValidacao[i].msg %>
                    </li>
                    <%}%>
            </ul>
            <%}%>
    </div>

    <form action="/produtos" method="POST">
        <div class="form-group">
            <label for="titulo">Título</label>
            <input class="form-control" id="titulo" value="<%=produto.titulo%>" name="titulo" type="text">
        </div>
        <div class="form-group">
            <label for="isbn">ISBN</label>
            <input type="text" class="form-control" value="<%=produto.isbn%>" id="isbn" name="isbn">
        </div>
        <div class="form-group">
            <label for="preco">Preço</label>
            <input type="text" class="form-control" value="<%=produto.preco%>" id="preco" name="preco">
        </div>
        <input type="submit" class="btn btn-default" value="Salvar" />
    </form>
</body>

</html>